html,

body {
    display: block;
    margin: 8px;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;

}

/* side nav*/

#navbar {
    position: fixed;
    min-width: 290px;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    border-right: solid;
    color: rgba(0, 22, 22, 0.4);
}

header {
    color: black;
    margin: 10px;
    text-align: center;
    font-size: 1.8em;
    font-weight: thin;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}


#navbar ul {
    height: 88%;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

#navbar li {
    border-top: 1px solid;
    list-style: none;
    color: #4d4e53;
    width: 100%;
    position: relative;
    


}

#navbar a {
    text-decoration: none;
    color: gray;
    cursor: pointer;
    display: block;
    padding: 10px 30px;
}

/* main doc */

#main-doc  {
    position: absolute;
    margin-left: 310px;
    margin-bottom: 110px;
    padding: 20px;
    
}

section {
    display: block;
}

.main-section header {
    text-align: left;
    margin: 0px;
}

section article {
    color: #4d4e53;
    margin: 15px;
    font-size: 0.96em;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

section li {
    margin: 15px 0px 0px 20px;
}

code {
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-wrap: normal;
    word-break: normal;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}

ul .disc {
    list-style-type: circle;
}

@media only screen and (max-width: 815px) {
    /* for moobile phones */
    #navbar ul {
        border: 1px solid;
        height: 207px;
    }

    #navbar {
        background-color: white;
        position: absolute;
        top: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        max-height: 275px;
        border: none;
        z-index: 1;
        border-bottom: 2px solid;
    }

    #main-doc {
        position: relative;
        margin-left: 0;
        margin-top: 270px;
    }


}

@media only screen and (max-width: 480px) {
    #main-doc {
        margin-left: -10px;
    }

    code {
        margin-left: -20px;
        width: 100%;
        padding: 15px;
        padding-left: 10px;
        padding-right: 45px;
        min-width: 233px;
    }
}